nav.page-navigation
  div.page-navigation__icon
  ul.page-navigation__list
    li.page-navigation__item
      a(href='#').page-navigation__link Home
    li.page-navigation__item
      a(href='#about').page-navigation__link About
    li.page-navigation__item
      a(href='#music').page-navigation__link Music
    li.page-navigation__item
      a(href='#tour').page-navigation__link Tours
    li.page-navigation__item
      a(href='#contact').page-navigation__link Contact
