.icon--arrow-left {
  content: '';
  width: 50px;
  height: 91px;
  background: url(images/icons.png) no-repeat -649px 0px;
  display: inline-block;
}
.icon--arrow-right {
  content: '';
  width: 50px;
  height: 91px;
  background: url(images/icons.png) no-repeat -579px 0px;
  display: inline-block;
}
.icon--facebook {
  content: '';
  width: 33px;
  height: 59px;
  background: url(images/icons.png) no-repeat -254px 0px;
  display: inline-block;
}
.icon--youtube {
  content: '';
  width: 61px;
  height: 59px;
  background: url(images/icons.png) no-repeat -719px 0px;
  display: inline-block;
}
.icon--next-disabled {
  content: '';
  width: 48px;
  height: 30px;
  background: url(images/icons.png) no-repeat -375px 0px;
  display: inline-block;
}
.icon--next {
  content: '';
  width: 48px;
  height: 30px;
  background: url(images/icons.png) no-repeat -443px 0px;
  display: inline-block;
}
.icon--pause-disabled {
  content: '';
  width: 24px;
  height: 35px;
  background: url(images/icons.png) no-repeat -110px 0px;
  display: inline-block;
}
.icon--pause {
  content: '';
  width: 24px;
  height: 35px;
  background: url(images/icons.png) no-repeat -66px 0px;
  display: inline-block;
}
.icon--pause_sm {
  content: '';
  width: 13px;
  height: 16px;
  background: url(images/icons.png) no-repeat -33px 0px;
  display: inline-block;
}
.icon--play-disabled {
  content: '';
  width: 30px;
  height: 35px;
  background: url(images/icons.png) no-repeat -154px 0px;
  display: inline-block;
}
.icon--play {
  content: '';
  width: 30px;
  height: 35px;
  background: url(images/icons.png) no-repeat -204px 0px;
  display: inline-block;
}
.icon--play_sm {
  content: '';
  width: 13px;
  height: 16px;
  background: url(images/icons.png) no-repeat 0px 0px;
  display: inline-block;
}
.icon--prev-disabled {
  content: '';
  width: 48px;
  height: 30px;
  background: url(images/icons.png) no-repeat -307px 0px;
  display: inline-block;
}
.icon--prev {
  content: '';
  width: 48px;
  height: 30px;
  background: url(images/icons.png) no-repeat -511px 0px;
  display: inline-block;
}
