.page-header {
  &__bg {
    @extend .page_bg;
  }

  &__text {
    position: absolute;
    top: 45%;
    right: $page-horizontal-margin;
    transform: translateY(-50%);

    @media (min-width: $screen-sm-add + 1) and (max-width: $screen-sm-max) {
      top: 30%;
    }

    @media (max-width: $screen-sm-add) {
      top: 20%;
    }
  }

  &__line1 {
    @extend .main-header;
    color: $color-add;
  }
  &__line2 {
    @extend .main-header;
    color: $color-main;
  }
}
