header.page-header
  // Background
  img(src="images/header/img/header-bg.jpg", alt="Header background").page-header__bg

  // Navigation
  include ../navigation/navigation

  // Header content
  div.page-header__text
    p.page-header__line1 We are
    p.page-header__line2 the band
