section.tour
  a#tour
  div.tour__container
    h3.tour__header Tour dates
    ul.concerts__list
      template#concerts-item
        li.concerts__item
          ul.concerts__info
            li.concerts__place-date
            li.concerts__city
    section.future-concert
      div.future-concert__container
        ul.future-concert__list
          template#future-concert
            li.future-concert__item
              div.future-concert__date
                p.future-concert__day
                div.future-concert__my
                  p.future-concert__month
                  p.future-concert__year
              p.future-concert__text
              div.future-concert__controls
                button(type='button').future-concert__buy-ticket Buy ticket
