// Lora
@font-face {
  font-family: Lora;
  src: url('fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/Lora-Regular.woff') format('woff'),
      url('fonts/Lora-Regular.ttf')  format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: LoraBold;
  src: url('fonts/Lora-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Lora-Bold.woff') format('woff'),
      url('fonts/Lora-Bold.ttf')  format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: LoraItalic;
  src: url('fonts/Lora-Italic.eot?#iefix') format('embedded-opentype'),
      url('fonts/Lora-Italic.woff') format('woff'),
      url('fonts/Lora-Italic.ttf')  format('truetype');
  font-style: italic;
  font-weight: normal;
}


// Oswald
@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/Oswald-Regular.woff') format('woff'),
      url('fonts/Oswald-Regular.ttf')  format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: OswaldBold;
  src: url('fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Oswald-Bold.woff') format('woff'),
      url('fonts/Oswald-Bold.ttf')  format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: OswaldLight;
  src: url('fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/Oswald-Light.woff') format('woff'),
      url('fonts/Oswald-Light.ttf')  format('truetype');
  font-style: normal;
  font-weight: 300;
}
