* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.page_bg {
  @include img-responsive();
  min-height: 200px;
  position: relative;
  z-index: 0;
}

.table {
  display: table;
  width: 100%;
  position: relative;

  &-row {
    display: table-row;
    position: relative;
    vertical-align: middle;
  }

  &-cell {
    display: table-cell;
    white-space: nowrap;
    position: relative;
    vertical-align: middle;

    &:not(:last-of-type) {
      padding-right: $table-cell-padding;
    }
  }
}

.main-header {
  @include font($font-family--oswald, bold, $font-size--h1, null, $font-size--h1 + 20px);
  text-transform: uppercase;
  text-align: center;
  position: relative;

  @media (max-width: $screen-md-max) {
    font-size: $font-size--h2;
    line-height: $font-size--h2 + 20px;
  }

  @media (max-width: $screen-sm-add) {
    font-size: $font-size--h3;
    line-height: $font-size--h3 + 10px;
  }
}

p  {
  @include font($font-family--lora, normal, $font-size, $text-color, $font-size * 2);
}

h3 {
  @include font($font-family--oswald, normal, $font-size--h3, $color-main, $font-size--h3 + 8px);
  padding-bottom: 20px;
}

h4 {
  @include font($font-family--oswald, 300, $font-size--h4, $color-main, $font-size--h3 + 8px);
  text-transform: capitalize;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  &:hover,
  &:active {
    opacity: 0.7;
  }
}

ul {
  list-style: none;
}
