.contact {
  &__container {
    position: relative;
  }

  &__bg {
    @extend .page_bg;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__header-container {
    width: 100%;
    padding: $page-vertical-margin * 3 0 $page-vertical-margin * 1.5;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      padding: $page-vertical-margin * 2 0 $page-vertical-margin * 1.5;
    }

    @media (max-width: $screen-sm-max) {
      padding: $page-vertical-margin--xs * 1.5 0 $page-vertical-margin--xs;
    }
  }

  &__text {
    @extend .main-header;
  }

  &__header {
    color: $color-main;
    @extend .contact__text;
  }

  &__phone {
    color: $color-add;
    @extend .contact__text;
    text-transform: uppercase;
  }

  &__data {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    position: relative;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: $screen-sm-max) {
     display: none;
    }
  }
}

@import './scss/_social';
@import './scss/_subscribe';
@import './scss/_footer';
