.future-concert {
  padding: $page-vertical-margin $page-horizontal-margin;

  position: relative;
  top: 325px;

  @media (max-width: $screen-sm-max) {
    padding: $page-vertical-margin--xs $page-horizontal-margin--xs;
  }

  @media (max-width: $screen-md-max) {
    top: 0;
  }

  &__container {
    max-height: 185px;
    overflow: auto;

    @media (max-width: $screen-md-max) {
      max-height: 100%;
      overflow: visible;
    }
  }

  &__list {
    @extend .table;
  }

  &__item {
    @extend .table-row;

    &:not(:last-of-type) {
      .concert-table-cell {
        border-bottom: 2px dotted $color-add;
      }
    }
  }

  &__date {
    @extend .concert-table-cell;
    width: 130px;
    padding: 0 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @media (max-width: $screen-xs-max) {
      width: 100px;
      padding: 0;
    }
  }

  &__day {
    @include font($font-family--oswald, bold, 50px, $color-main, 60px);
  }

  &__my {
    padding: 0 0 0 10px;
    border-right: 4px solid $color-add;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
  }

  &__month,
  &__year {
    @include font($font-family--oswald, 300, 18px, $color-main, 20px);
  }

  &__text {
    @include font($font-family--oswald, 300, $font-size--h5, $color-main, 25px);
    @extend .concert-table-cell;
    padding: 0 20px;

    @media (max-width: $screen-xs-max) {
      font-size: 16px;
      padding: 0 10px;
    }
  }

  &__controls {
    @extend .concert-table-cell;
    text-align: center;

    @media (max-width: $screen-sm-min) {
      text-align: right;
    }
  }

  &__buy-ticket {
    @extend .btn-primary;
  }
}

.concert-table-cell {
  @extend .table-cell;
  white-space: normal;

  &:not(:last-of-type) {
    padding-right: 0;
  }
}
