.tour {
  min-height: 670px;
  background-color: lighten($color-add, 5%);

  @media (max-width: $screen-md-max) {
    min-height: 0;
  }

  &__container {
    position: relative;
    min-height: 300px;
  }

  &__header {
    text-align: center;
    padding: $page-vertical-margin $page-horizontal-margin 0;

    @media (max-width: $screen-sm-max) {
      padding: $page-vertical-margin--xs $page-horizontal-margin--xs 0;
    }
  }
}

@import './scss/_all-concerts';
@import './scss/_future-concerts';
