doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title The Band
    link(rel="icon", type="image/x-icon", href="favicon.ico")
    link(rel="stylesheet", href="main.min.css")
  body
    // Header
    include blocks/header/header

    // About
    include blocks/about/about

    // Music
    include blocks/music/music

    // Tours
    include blocks/tour/tour

    // Contact
    include blocks/contact/contact

  script(src="main.min.js")
