.page-footer {
  width: 100%;
  padding: 40px 40px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  position: absolute;
  bottom: 20px;

  @media (max-width: $screen-md-max) {
    flex-flow: column wrap;
    text-align: center;
  }

  @media (max-width: $screen-sm-max) {
    padding: 10px;
  }

  @media (max-width: $screen-xs-max) {
    bottom: 0;
  }

  &__text {
    color: $color-add;
    text-transform: uppercase;
    margin: auto 0;

    @media (min-width: $screen-lg-min) {
      flex-basis: 360px;
    }
  }
}
