.subscribe {
  display: inline-block;
  flex: 0 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  &__btn {
    @extend .btn-primary;
    font-size: 24px;
    background-color: $color-main;
    height: 50px;
    border: 2px solid $color-main;
    padding: 0 25px;
    margin-right: -1px;
  }

  &__input {
    background-color: transparent;
    border: 4px solid $color-main;
    max-width: 100%;
    height: 50px;
    padding: 0 20px;
    @include font($font-family--oswald, normal, 20px, $color-main);

    &:focus {
      outline: none;
    }
  }
}
